@import './styles/layout/breakpoint';

html {
  font-size: 100%;

  @include mq(mobile) {
    font-size: 70%;
  }

  @include mq(tablet) {
    font-size: 80%;
  }

  @include mq(computer) {
    font-size: 100%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
